*{
    margin: 0;
    padding: 0;
}

.background-image{
    background-image: url(/images/backgroundimagefinal.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/*for shape of images*/
.images img{
    display: circle;
    border-radius: 50%;
    width: 100%;
    max-width: 200px; /*change for others in media queries*/
    height: auto;
    border: solid #D9C4EC;
}

/*positioning of images using grid & centering text*/
.images{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(6, 1fr);
    margin: 3rem;
}

.hobbies1{
    font-family: sans-serif;
    display: inline-flexbox;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;

    position: sticky;
    top: 0;

    border: black solid;
    background-color: #D9C4EC;
}

.fa-house{
    color: black;
    font-size: calc(2rem + 0.5vw);
}


/*positioning of images and their captions*/
.img1{
    vertical-align: top;
    display: inline-block;
    text-align: center;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.img2{
    vertical-align: top;
    display: inline-block;
    text-align: center;

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.img3{
    vertical-align: top;
    display: inline-block;
    text-align: center;

    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.img4{
    vertical-align: top;
    display: inline-block;
    text-align: center;

    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}

.img5{
    vertical-align: top;
    display: inline-block;
    text-align: center;

    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}

.caption{
    display:block;

    border: solid black;
    background-color: #D9C4EC;
    font-family: sans-serif;
    font-weight: bold;
}



/*-----------------------------------------------*/


/*image hover effect*/
.img1:hover{
    transform: scale(2);
}

.img2:hover{
    transform: scale(2);
}

.img3:hover{
    transform: scale(2);
}

.img4:hover{
    transform: scale(2);
}

.img5:hover{
    transform:scale(2);
}
/*---------------------------------------------*/

/*media queries ---------------------------------*/


/*responsiveness for mobile*/
@media screen and (max-width: 360px){
    .caption{
        font-size: 4vw;
    }   
} 


/*responsiveness for tablet*/
@media screen and (min-width: 760px){
    .images img{
        max-width: 300px;   
    }

    .img1:hover{
        transform: scale(1);
    }
    
    .img2:hover{
        transform: scale(1);
    }
    
    .img3:hover{
        transform: scale(1);
    }
    
    .img4:hover{
        transform: scale(1);
    }
    
    .img5:hover{
        transform:scale(1);
    }

} 


/*responsiveness for desktop*/
@media screen and (min-width: 1200px){
    .caption{
        font-size: 3vw;
    }

    .img1:hover{
        transform: scale(1);
    }
    
    .img2:hover{
        transform: scale(1);
    }
    
    .img3:hover{
        transform: scale(1);
    }
    
    .img4:hover{
        transform: scale(1);
    }
    
    .img5:hover{
        transform:scale(1);
    }

    .images img{
        max-width: 500px;   
    }
}





