*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; /*removed dots on sides of lists*/
    font-size: 12px;
}

html{
    font-family: sans-serif; /*want 'inter' font*/ 
    border: 1px solid black;  
}


/* basic positioning of child elements using grid*/
.grid-container{
    display: grid;
    grid-gap: 15px;
    margin: 15px;
    grid-template-columns: repeat(3, 1fr); /*3 columns*/
    grid-template-rows: repeat(3, 1fr);    
}

.header1{
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 4;
    z-index: 1;
}


.sidebar{
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}

.footer, .right-section{
    grid-column: 2/4
}

/* ------------------------------------------------------- */


/*styling for header with name and title*/
.header1{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background: white;
    align-self: center;
    width: fit-content;
    block-size: fit-content;
    position: relative;
    left: 30%;
    top: 20%;
    padding: 5%;

}

.header1 h1{
    text-align: center;
    font-size:16px;
}

.header1 h2{
    text-align:center;
    font-size: 10px;
}

/*--------------------------------------------------*/

/* styling sidebar */
.sidebar{
    background-color: #D9C4EC;
}

.sidebar-container{
    flex-flow: column;
    flex-wrap: wrap;
    
    align-items: center;   
    display: inline-flex;   
}

.contact-link{
    flex-basis: 2em;

    text-decoration: none;
    color:black;
    background-color: white;
    padding: 0.5em 0.75em 0.5em 0.75em; /*top right bottom left*/  
    margin-top: 11em;   
}

.github-link{
    flex-basis: 2em;

    background-color: white;
    padding: 0.5em 2em 0.5em 2em;
    margin-top: 1em;  
}

.github-link1{
    text-decoration: none;
    color:black;
}

.skills{
    margin-top: 4em;
    margin-left: 1em;
    
}

.skills h3{
    font-size: 1em;
}


 /*-----------------------------------------------------*/

 /*right section styling*/
 .right-section h2{
    font-size: 14px;
    text-align: justify;
    margin-top: 2em;
 }

 .right-section p{
    text-align: justify;
    font-weight: 100;
 }

 .education-list li{
     text-align: justify;
     padding-bottom: 1em;
     list-style: disc;
     margin-left: 2em;
 }

 hr{
    border: 1px solid black;
    margin-bottom: 1em;
 }

 .hobbies li{
    list-style:disc;
    margin-left: 2em;
 }

 .experience li{
    list-style: disc;
    margin-left: 2em;
 }

 /*----------------------------------------------*/

 /*footer styling*/
 .footer h2{
    font-size: 14px;
    text-align: justify;
    margin-top: 2em;
 }



/*for responsiveness*/
@media screen and (max-width: 620px){

} /*for mobile*/

@media screen and (max-width: 960px){

} /*for tablet*/

@media screen and (max-width: 1200px){

} /*for desktop*/


